body {
    background-color: white;
    margin: 0;
}

h1 {
    margin-bottom: 130px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #1F2937;
    position: relative;
    z-index: 1;
}

h1::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px;
    background-color: #1F2937;
    z-index: -1;
}


.navBar{
    margin-bottom: 150px;
}

.nav_bar_site_brand{
    color:#F9FAf8;
    font-size: 24px;
    justify-content: left;
    flex: 1;
    display: flex;
}

.option{
    justify-content: right;
    flex: 1;
    display: flex;
}

.option li{
    display: inline;
    color: #E5E7EB;
    font-size: 18px;
    margin: 10px;
}

.centralLeft_corp{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.textContainer {
    flex: 1;
}

.MainTxt{
    color: #F9FAf8;
    font-size: 48px;
    font-weight: 800;
}

.SecText{
    color: #E5E7EB;
    font-size: 18px;
}

#sign{
    background-color: #3882F6;
    color: white;
    border-color: #E5E7EB;
    text-align: center;
    padding: 5px 25px;
    border-radius: 12px;
    height: 30px;
    width: 100px;
    margin: 0px;
}

#picture{
    width:500px;
    height:300px;
    float: right;
    margin-left: 100px;
    border-radius: 40px;
}

.centralRight_corp{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

h2{
    background-color: white;
    position: relative;
    width: 100%;
    z-index: 2;
}

#text{
    flex:1;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: black;
    margin-bottom: 30px;
}

.SecCorp{
    margin-bottom: 50px;
}

.bulle_op {
    background-color: white;
    color: white;
    text-align: center;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    height: 150px;
    width: 150px;
    margin: 30px;
    border-color: #3882F6;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

button p {
    color: gray;
    margin-top: 10px;
    font-size: 14px;
}

h3{
    background-color: #E5E7EB;
    position: relative;
    z-index: 3;
}



